<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <span>My Portfolio</span>
        <h2 data-aos="fade-down" data-aos-duration="1000">My Portfolio</h2>
        <p>Here's one of the applications I've developed.</p>
      </div>

      <ul id="portfolio-flters" class="d-flex justify-content-center">
      </ul>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-img"><img src="assets/img/portfolio/catalogoProductos.png" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>Catálogo de Productos y gestión de Pedidos</p>
            <a href="assets/img/portfolio/catalogo.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="https://github.com/RashelAlvarez/gestionPedidos" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-img"><img src="assets/img/portfolio/listadoClientes.png" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>API Customer Spring Boot with Angular Material </p>
            <a href="assets/img/portfolio/listadoClientes.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="https://github.com/RashelAlvarez/AppAngularCustomer" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End My Portfolio Section -->