<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <span>{{ 'portfolio.title' | translate }}</span>
      <h2 data-aos="fade-down">{{ 'portfolio.title' | translate }}</h2>
      <p>{{ 'portfolio.subtitle' | translate }}</p>
    </div>

    <div class="row row-cols-1  row-cols-sm-1 row-cols-md-2  row-cols-lg-3 xl-4 ">
      <div class="col">
        <div class="card card-porfolio">
          <img src="assets/img/portfolio/catalogoProductos.png" class="card-img-top" alt="pedidos">
          <div class="card-body">
            <p class="card-text">{{ 'portfolio.first_app' | translate }}</p>
            <a href="https://github.com/RashelAlvarez/gestionPedidos" class="details-link" title="More Details"><i
                class="bx bx-link"></i>{{ 'portfolio.details' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-porfolio">
          <img src="assets/img/portfolio/listadoClientes.png" class="card-img-top" alt="clientes">
          <div class="card-body">
            <p class="card-text">{{ 'portfolio.second_app' | translate }}</p>
            <a href="https://github.com/RashelAlvarez/AppAngularCustomer" class="details-link" title="More Details"><i
                class="bx bx-link"></i>{{ 'portfolio.details' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-porfolio">
          <img src="assets/img/portfolio/listadoClientes.png" class="card-img-top" alt="clientes">
          <div class="card-body">
            <p class="card-text">{{ 'portfolio.third_app' | translate }}</p>
            <a href="https://github.com/RashelAlvarez/auth-service" class="details-link" title="More Details"><i
                class="bx bx-link"></i>{{ 'portfolio.details' | translate }}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End My Portfolio Section -->