<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <span>{{ 'about.title' | translate }}</span>
      <h2 data-aos="fade-down">{{ 'about.title' | translate }}</h2>
      <p>{{ 'about.subtitle_first' | translate }}
        <br>
        {{ 'about.subtitle_second' | translate }}
      </p>
    </div>

    <div class="row">
      <div class=" col-lg-3 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
      <div class="col-lg-8 d-flex flex-column align-items-stretch">
        <div class="content ps-lg-4 d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>{{ 'about.me.title_phone' | translate }}:</strong>
                  <span>+58 0424 4473798</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>{{ 'about.me.title_city' | translate }}:</strong>
                  <span>Valencia, Venezuela</span>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>{{ 'about.me.title_degree' | translate }}:</strong>
                  <span>{{ 'about.me.degree' | translate }}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>{{ 'about.me.title_email' | translate }}:</strong>
                  <span>rashelalvarez21&#64;gmail.com</span>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- End .content-->



      </div>
    </div>

  </div>
</section><!-- End About Me Section -->