<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <span>My Skills</span>
        <h2 data-aos="fade-down" data-aos-duration="1000" class="">My Skills</h2>
        <p>I can develop applications with these amazing programming languages and frameworks.</p>
      </div>

      <div class="row">
        <div  data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-html5"></i></div>
            <h4 class="title"><a >Html 5</a></h4>
            
          </div>
        </div>

        <div data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-javascript"></i></div>
            <h4 class="title"><a >Javascript</a></h4>
           
          </div>
        </div>

        <div data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-spring-boot"></i></div>
            <h4 class="title"><a >Spring Boot</a></h4>
         
          </div>
        </div>

        <div data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-php"></i></div>
            <h4 class="title"><a >Php</a></h4>
          
          </div>
        </div>


      </div>

      <div class="row mt-5">

        <div data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-java"></i></div>
            <h4 class="title"><a >Java</a></h4>
         
          </div>
        </div>

        <div  data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-postgresql"></i></div>
            <h4 class="title"><a >PostgreSql</a></h4>
          
          </div>
        </div>

        <div data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-git"></i></div>
            <h4 class="title"><a >Git</a></h4>
          
          </div>
        </div>

        <div data-aos="zoom-in" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-angular"></i></div>
            <h4 class="title"><a >Angular</a></h4>
          
          </div>
        </div>        
      </div>

    </div>
  </section><!-- End My Services Section -->